[Service]
ExecStart=/bin/sh -c "${HOME}/bin/auto-commit-daemon ${HOME}/org 60 300"
Restart=always
NoNewPrivileges=true
SyslogIdentifier=auto-commit-org

[Install]
WantedBy=multi-user.target
